{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Cart Section -->
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="cart-heading">Shopping Cart</h1>
            </div>
        </div>

        {% if cart_list %}
        <div class="row">
            <div class="col-12">
                <div class="table-responsive cart-table">
                    <table class="table table-borderless">
                        <thead class="thead-dark">
                            <tr class="table-headers">
                                <th scope="col">Product</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        {% for item in cart_list %}
                        <tr>
                            <td>
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                            </td>
                            <td>
                                <p class="font-weight-bold">{{ item.product.name }}</p>
                                <p class="text-uppercase">Product Code: {{ item.product.sku }}</p>
                            </td>
                            <td>
                                <p class="font-italic">${{ item.product.price }}</p>
                            </td>
                            <td>
                                <p class="font-italic">{{ item.quantity }}</p>
                            </td>
                            <td>
                                <p class="font-italic">${{ item.product.price }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form action="{% url 'remove_cart' item.product.id  %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Remove From Cart</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <h5><strong class="pr-1">Cart Total:</strong>${{ total|floatformat:2 }}</h5>
                                <h6><strong class="pr-1">Delivery Cost:</strong>${{ delivery_cost|floatformat:2}}</h6>
                                <h6><strong class="pr-1">Overall Cost:</strong>${{ overall_cost|floatformat:2}}</h6>
                                {% if free_delivery_remainder != 0 %}
                                <p>If you spend an another ${{ free_delivery_remainder }} your order will qualify for
                                    free delivery.</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'view_checkout' %}"
                                    class="btn btn-dark btn-lg checkout-cart-btn">Checkout <i
                                        class="far fa-credit-card ml-2"></i></a>
                                <br>
                                <br>
                                <span><a class="back-link" href="#"><i class="fas fa-arrow-left pr-1"></i>Back To
                                        Products</a></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {% else %}
        <span>
            <p class="empty-cart">There is nothing in your cart - <a href="{% url 'home' %}"> Back To Home<i
                        class="fas fa-home pl-2"></i></a></p>
        </span>

        {% endif %}
    </div>
</section>

{% if not cart_list %}
<!-- Other Departments Section -->
<section>
    <h2 class="text-center departments-header">Explore Other Departments</h2>
    <div class="container-fluid">
        <div class="card-deck">
            <div class="card categories-card">
                <img class="card-img-top" src="/media/electrical.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h3 class="card-title text-black font-weight-bold px-0 display-2">Electrical</h3>
                    <a class="btn btn-dark btn-sm" href="{% url 'products' %}?category=electrical">Shop Now<i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="card categories-card">
                <img class="card-img-top" src="/media/gardening.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h3 class="card-title text-white font-weight-bold px-0 display-2">Gardening</h3>
                    <a class="btn btn-light btn-sm" href="{% url 'products' %}?category=gardening">Shop Now<i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="card categories-card">
                <img class="card-img-top" src="/media/bathroom.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h3 class="card-title text-black font-weight-bold px-0 display-2">Bathroom</h3>
                    <a class="btn btn-dark btn-sm" href="{% url 'products' %}?category=bathroom">Shop Now<i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="/media/tools.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h3 class="card-title text-white font-weight-bold px-0 display-2">Tools</h3>
                    <a class="btn btn-light btn-sm" href="{% url 'products' %}?category=tools">Shop Now<i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}