{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Callout Section -->
<section>
    <!-- Callout Image -->
    <div class="w-100">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12">

                    <!-- Heading -->
                    <h1 class="display-1">Autumn Sale</h1>

                    <!-- Heading -->
                    <h2 class="display-2">50% Off</h2>

                    <!-- Heading -->
                    <h4 class="display-4">*For limited time only</h4>

                    <a class="btn btn-dark text-uppercase py-6" href="#" role="button">Shop Now <i
                            class="bi bi-arrow-right"></i></a>

                </div>

            </div>

        </div>
    </div>
</section>
{% endblock %}