{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Contact Form Section -->
<section class="bg-light">
<div class="container">
    <h1 class="text-center contact-heading">Success - your message has been submitted!</h1>
    <h2 class="text-center">Someone from our team will be in contact with you shortly.</h2>
    <span>
        <p class="empty-cart"><a href="{% url 'home' %}"> Back To Home<i
                    class="fas fa-home pl-2"></i></a></p>
    </span>
</div>
</section>
{% endblock %}