{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Order Confirmation Section -->
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="checkout-heading">Order Confirmed</h1>
                <p class="success-message">Thank you for your order we have sent a confirmation email to you email
                    address: <strong>{{ order.email }}</strong></p>
                <p class="text-center"><strong>Order Number: </strong>{{ order.order_number }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-repsonsive cart-table">
                    <div class="order-final">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Figure</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Order Total:</th>
                                    <td>${{ order_total|floatformat:2 }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Delivery Cost:</th>
                                    <td>${{ delivery_cost|floatformat:2 }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Total Card Billed:</th>
                                    <td><strong>${{ overall_cost|floatformat:2 }}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pb-20">
                <h2 class="text-center thanks-message">Thank you for choosing to shop with us, we really appreciate your business. </h2>
                <h3 class="continue-shopping"><a href="{% url 'products' %}" class="continue-shopping">Continue Shopping<i class="fas fa-shopping-basket pl-2"></i></a></h3>
            </div>
        </div>

    </div>
</section>



{% endblock %}
