* {
    font-family: 'Jost', sans-serif;
}

.fa-truck {
    color: #d4af37;
}

.navbar-brand {
    font-size: 2rem;
}

.active-link {
    color: #f7584a !important;
}

.color-red {
    color: #fc5647 !important;
}


.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar a:hover {
    color: #f7584a !important;
}

.callout-image {
    background-image: url('/media/workdesk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.shop-now-btn {
    margin-top: 20px !important;
    padding: 15px;
    background-color: black;
    color: white;
}

.card-deck {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.categories-card {
    margin-right: 5px !important;
}

.departments-header {
    padding: 20px;
    margin: 20px;
}


@media screen and (max-width: 768px) {
    .card-deck h3 {
        font-size: 20px;
    }
}

.about-heading {
    margin: 20px;
    padding: 20px;
}

.about-paragraph {
    line-height: 2;
    text-align: justify;
    margin-bottom: 50px;
    padding-bottom: 50px;
}


.page-footer {
    background-color: black;
}

.footer-items {
    color: #bababa !important;
}

.products-header {
    text-align: center !important;
    padding: 20px;
    margin: 20px;
}

.category-card {
    font-size: medium;
    color: rgb(102, 98, 98) !important;
}

.title-card {
    font-weight: bold;
    font-size: large;
    color: black !important;
}

.category-card a:hover {
    text-decoration: none !important;
}

.title-card a:hover {
    color: rgb(102, 98, 98) !important;
}

.price-card {
    color: rgb(128, 122, 122) !important;
}

.img-card {
    padding: 20px;
}

.rating-card {
    font-size: medium;
    color: rgb(102, 98, 98) !important;
}

.product-description {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.price-tag {
    color: #fc5647;
}

.product-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.product-title {
    text-align: left;
    padding-bottom: 10px;
}

.description-paragraph {
    line-height: 2;
    text-align: justify;
}

.add-cart-btn {
    margin-top: 20px !important;
    padding: 15px;
    background-color: black;
    color: white;
}

.category-title {
    text-align: left;
}

.category-title a {
    color: inherit;
}

