* {
    font-family: 'Jost', sans-serif;
}

/* https://stackoverflow.com/questions/4617872/white-space-showing-up-on-right-side-of-page-when-background-image-should-extend */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.fa-truck {
    color: #d4af37;
}

.navbar-brand {
    font-size: 2rem;
}

.active-link {
    color: #f7584a !important;
}

.color-red {
    color: #fc5647 !important;
}


.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar a:hover {
    color: #f7584a !important;
}

.callout-image {
    background-image: url('/media/workdesk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.shop-now-btn {
    margin-top: 20px !important;
    padding: 15px;
    background-color: black;
    color: white;
}

.card-deck {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.categories-card {
    margin-right: 5px !important;
}

.departments-header {
    padding: 20px;
    margin: 20px;
}


@media screen and (max-width: 768px) {
    .card-deck h3 {
        font-size: 20px;
    }
}

.about-heading {
    margin: 20px;
    padding: 20px;
}

.about-paragraph {
    line-height: 2;
    text-align: justify;
    margin-bottom: 50px;
    padding-bottom: 50px;
}


.page-footer {
    background-color: black;
}

.footer-items {
    color: #bababa !important;
}

.products-header {
    text-align: center !important;
    padding: 20px;
    margin: 20px;
}

.category-card {
    font-size: medium;
    color: rgb(102, 98, 98) !important;
}

.title-card {
    font-weight: bold;
    font-size: large;
    color: black !important;
}

.category-card a:hover {
    text-decoration: none !important;
}

.title-card a:hover {
    color: rgb(102, 98, 98) !important;
}

.price-card {
    color: rgb(128, 122, 122) !important;
}

.img-card {
    padding: 20px;
}

.rating-card {
    font-size: medium;
    color: rgb(102, 98, 98) !important;
}

.product-description {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.price-tag {
    color: #fc5647;
}

.product-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.product-title {
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
}

.description-paragraph {
    line-height: 2;
    text-align: justify;
}

.add-cart-btn {
    margin-top: 20px !important;
    padding: 15px;
    background-color: black;
    color: white;
}

.category-title {
    text-align: left;
}

.category-title a {
    color: inherit;
}

.product-rating {
    padding-top: 10px;
    color: rgb(163, 144, 33);
}

.results {
    padding: 20px;
}

.results-message {
    padding: 20px;
    font-size: 25px;
    font-style: italic;
    color: #fc5647;
}

.category-btn {
    padding-bottom: 20px !important;
}

.products-home {
    color: #f7584a;
}

a.products-home:hover {
    color: #bababa;
}

.search-term {
    font-weight: bold;
    font-style: italic;
}

.top-btn {
    padding: 20px !important;
}

.cart-heading {
    padding: 30px;
    text-align: center;
}

.back-link {
    color: black;
}

a.back-link:hover {
    color: #bababa;
}

.table-headers {
    letter-spacing: 0.1em;
}

.cart-table {
    padding-bottom: 50px !important;
}

.checkout-cart-btn {
    margin-top: 20px !important;
    padding: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
}

.empty-cart {
    text-align: center;
    padding: 50px;
    font-size: 30px;
}

.empty-cart a {
    color: #fc5647;
}

.message-container {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 999999999999;
}

.checkout-heading {
    padding: 30px;
    text-align: center;
}

.fieldset-label {
    color: #fc5647 !important;
}

fieldset a {
    color: #c0880f;
}

fieldset a:hover {
    color: #c0880f;
}

.fa-lock {
    color: #eebe58 !important;
}

.adjust-bag {
    font-size: larger;
}

.payemnt-message {
    font-size: large;
}


/* Stripe CSS */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

/* End Stripe Styling */

.card-error-color {
    color: #FF0000 !important;
}

.success-message {
    text-align: center;
    color: green;
    font-size: 25px;
}

.thanks-message {
    padding-bottom: 20px;
}

.continue-shopping {
    text-align: center;
    color: #fc5647;
    padding-bottom: 20px;
}

.continue-shopping a:hover {
    color: #fc5647;
}

