{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Blog Section -->
<section class="bg-light">
    <div class="container">
        <h1 class="text-center contact-heading">Blog</h1>
        {% if object_list %}
        {% for post in object_list %}
        {% if post.author.first_name|length > 0 %}
        <h2 class="text-center text-info pb-2"><a href="{% url 'weblog-detail' post.pk %}"
                class="contact-fields">{{ post.title }} - {{ post.created_date }}</a></h2>
        <p class="text-justify">{{ post.body|truncatewords:100|safe }} <a href="{% url 'weblog-detail' post.pk %}"
                class="text-info">Read full blog</a></p>
        <small class="font-italic text-info">Authored By: {{ post.author.first_name }} {{ post.author.last_name }}
            (Administrator Account)</small>
        <small class="font-italic text-info font-weight-bold d-block">Category: {{ post.category }}</small>
        <div class="pt-2">
            {% if request.user.is_superuser %}
            <a class="btn btn-info" href="{% url 'edit-weblog' post.pk %}" role="button">Edit</a>
            <a class="btn btn-danger" href="{% url 'delete-weblog' post.pk %}" role="button">Delete</a>
            {% endif %}
        </div>
        <hr>
        {% else %}
        <h2 class="text-center"><a href="{% url 'weblog-detail' post.pk %}" class="contact-fields">{{ post.title }} -
                {{ post.created_date }}</a>
        </h2>
        <p class="text-justify">{{ post.body|truncatewords:100|safe }}<a href="{% url 'weblog-detail' post.pk %}"
                class="text-info">Read full blog</a></p>
        <small class="font-italic text-info">Authored By: {{ post.author|title }} </small>
        <small class="font-italic text-info font-weight-bold d-block"><a href="">Category:
                {{ post.category }}</a></small>
        <div class="pt-2">
            {% if request.user.is_superuser %}
            <a class="btn btn-info" href="{% url 'edit-weblog' post.pk %}" role="button">Edit</a>
            <a class="btn btn-danger" href="{% url 'delete-weblog' post.pk %}" role="button">Delete</a>
            {% endif %}
        </div>
        <hr>
        {% endif %}
        {% endfor %}
        {% else %}
        <br>
        <h2 class="text-center pt-10">Sorry, there are no blogs to display!</h2>
        <br>
        {% endif %}
    </div>
</section>
{% endblock %}