{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Blog Detail Section -->
<section class="bg-light">
    <div class="container">
        <h1 class="text-center contact-heading">{{ blogpost.title }}</h1>
        <div>
            <p class="text-justify">{{ blogpost.body }}</p>
            {% if blogpost.author.first_name|length > 0 %}
            <small class="font-italic text-info">Authored By: {{ blogpost.author.first_name }}
                {{ blogpost.author.last_name }} (Administrator Account)</small>
            {% else %}
            <small class="font-italic text-info">Authored By: {{ blogpost.author|title }}</small>
            {% endif %}
        </div>
        <div class="pt-3 pb-5">
            <a class="btn btn-dark" href="{% url 'blog' %}" role="button"><i class="fas fa-arrow-left pr-1"></i>Back</a>
            {% if request.user.is_superuser %}
            <a class="btn btn-info" href="{% url 'edit-blog' blogpost.pk %}" role="button">Edit</a>
            <a class="btn btn-danger" href="{% url 'delete-blog' blogpost.pk %}" role="button">Delete</a>
            {% endif %}
        </div>

    </div>
</section>
{% endblock %}