{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Products Section -->
<section class="bg-light">
    <div class="row align-items-center">
        <div class="col-12">
            <h3 class="products-header">Products</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
                <div class="row">
                    <div class="col-6 col-md-4 img-card">
                        <div class="card mb-7">
                            <div>
                               <a href=""><img class="card-img-top" src="/media/energy-bulb.jpg" alt=""></a>
                            </div>
                            <div class="card-body">
                                <!-- Category -->
                                <div>
                                    <a class="category-card" href="#">Electricity</a>
                                </div>
                                <!-- Title -->
                                <div>
                                    <a class="title-card" href="#">Energy Bulb</a>
                                </div>
                                <!-- Price -->
                                <div class=>
                                    €5.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 img-card">
                        <div class="card mb-7">
                            <div>
                               <a href=""><img class="card-img-top" src="/media/energy-bulb.jpg" alt=""></a>
                            </div>
                            <div class="card-body">
                                <!-- Category -->
                                <div>
                                    <a class="category-card" href="#">Electricity</a>
                                </div>
                                <!-- Title -->
                                <div>
                                    <a class="title-card" href="#">Energy Bulb</a>
                                </div>
                                <!-- Price -->
                                <div class=>
                                    €5.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 img-card">
                        <div class="card mb-7">
                            <div>
                               <a href=""><img class="card-img-top" src="/media/energy-bulb.jpg" alt=""></a>
                            </div>
                            <div class="card-body">
                                <!-- Category -->
                                <div>
                                    <a class="category-card" href="#">Electricity</a>
                                </div>
                                <!-- Title -->
                                <div>
                                    <a class="title-card" href="#">Energy Bulb</a>
                                </div>
                                <!-- Price -->
                                <div class=>
                                    €5.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 img-card">
                        <div class="card mb-7">
                            <div>
                               <a href=""><img class="card-img-top" src="/media/energy-bulb.jpg" alt=""></a>
                            </div>
                            <div class="card-body">
                                <!-- Category -->
                                <div>
                                    <a class="category-card" href="#">Electricity</a>
                                </div>
                                <!-- Title -->
                                <div>
                                    <a class="title-card" href="#">Energy Bulb</a>
                                </div>
                                <!-- Price -->
                                <div class=>
                                    €5.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}