{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Products Section -->
<section class="bg-light">
    <div class="row align-items-center">
        <div class="col-12">
            <h3 class="products-header">Products</h3>
        </div>
    </div>

    {% if products %}
    <div class="container">
        <div class="row">
            <div class="row">
                {% for product in products %}
                <div class="col-6 col-md-4 img-card">
                    <div class="card mb-7">
                        <div>
                            <a href="{% url 'product_info' product.id %}"><img class="card-img-top"
                                    src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                        </div>
                        <div class="card-body">
                            <!-- Category -->
                            <div>
                                <a class="category-card" href="#">{{ product.category|title }}</a>
                            </div>
                            <!-- Title -->
                            <div>
                                <a class="title-card" href="{% url 'product_info' product.id %}">{{ product.name }}</a>
                            </div>
                            <!-- Rating -->
                            <div class="rating-card">
                                {% if product.rating %}
                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }}/5</small>
                                {% else %}
                                <small class="text-muted">No Rating</small>
                                {% endif %}
                            </div>
                            <!-- Price -->
                            <div class="price-card">
                                €{{ product.price }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="results">No Results<i class="fas fa-sad-tear pl-2"></i></h2>
                <p class="card-text text-center results-message">Unfortunately there was no results found for that product search</p>
            </div>
        </div>
    </div>
    {% endif %}
</section>

<!-- Shop By Department -->
<section>
    <h2 class="text-center departments-header">Shop by Department</h2>
    <div class="container-fluid">
        <div class="card-deck">
            <div class="card categories-card">
                <img class="card-img-top" src="/media/electrical.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h3 class="card-title text-black font-weight-bold px-0 display-2">Electrical</h3>
                    <a class="btn btn-dark btn-sm" href="#">Shop Now<i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="card categories-card">
                <img class="card-img-top" src="/media/gardening.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h3 class="card-title text-white font-weight-bold px-0 display-2">Gardening</h3>
                    <a class="btn btn-light btn-sm" href="#">Shop Now<i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="card categories-card">
                <img class="card-img-top" src="/media/bathroom.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h3 class="card-title text-black font-weight-bold px-0 display-2">Bathroom</h3>
                    <a class="btn btn-dark btn-sm" href="#">Shop Now<i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="/media/tools.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h3 class="card-title text-white font-weight-bold px-0 display-2">Tools</h3>
                    <a class="btn btn-light btn-sm" href="#">Shop Now<i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}