{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Products Section -->
<section class="bg-light">
    <div class="row align-items-center">
        <div class="col-12">
            <h3 class="products-header">Products</h3>
        </div>
    </div>
    <div class="row text-center justify-content-center category-btn">
        <div class="col-12">
            {% for category in current_categories %}
            <a class="btn btn-outline-secondary" href="{% url 'products' %}?category={{ category.name }}">{{ category.name|title }}</a>
            {% endfor %}
        </div>
    </div>
    {% if products %}
    <div class="container text-center justify-content-center">
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Sort Products
                <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-dark" role="menu" aria-labelledby="menu1">
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price (Low to
                        high)</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">Price (High to
                        low)</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=asc">Rating (Low to
                        high)</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">Rating (High to
                        low)</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">Category
                        (A-Z)</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=desc">Category
                        (Z-A)</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=asc">Name (A-Z)</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=desc">Name (Z-A)</a>
                </li>
            </ul>
        </div><br>
    </div>
    {% endif %}


    <div class="container">
        <p>
            {% if search_term or current_categories or current_sort != 'None_None' %}
            <span><a href="{% url 'products' %}" class="products-home">Products Home</a></span>
            {% endif %}
            {% if products.count == 1 %}
            {{ products.count }} Product found{% if search_term %} for search term <span class="search-term">{{ search_term }}</span>{% endif %} 
            {% else %}
            {{ products.count }} Products Found{% if search_term %} for search term <span class="search-term">{{ search_term }}</span>{% endif %}
            {% endif %}
        </p>
    </div>
 




    {% if products %}
    <div class="container">
        <div class="row">
            <div class="row">
                {% for product in products %}
                <div class="col-6 col-md-4 img-card">
                    <div class="card mb-7">
                        <div>
                            <a href="{% url 'product_info' product.id %}"><img class="card-img-top"
                                    src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                        </div>
                        <div class="card-body">
                            <!-- Category -->
                            <div>
                                <a class="category-card"
                                    href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category|title }}</a>
                            </div>
                            <!-- Title -->
                            <div>
                                <a class="title-card" href="{% url 'product_info' product.id %}">{{ product.name }}</a>
                            </div>
                            <!-- Rating -->
                            <div class="rating-card">
                                {% if product.rating %}
                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }}/5</small>
                                {% else %}
                                <small class="text-muted">No Rating</small>
                                {% endif %}
                            </div>
                            <!-- Price -->
                            <div class="price-card">
                                €{{ product.price }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="results">No Results<i class="fas fa-sad-tear pl-2"></i></h2>
                <p class="card-text text-center results-message">Unfortunately there was no results found for that
                    product search</p>
            </div>
        </div>
    </div>
    {% endif %}
</section>

<!-- Shop By Department -->
<section>
    <h2 class="text-center departments-header">Shop by Department</h2>
    <div class="container-fluid">
        <div class="card-deck">
            <div class="card categories-card">
                <img class="card-img-top" src="/media/electrical.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h3 class="card-title text-black font-weight-bold px-0 display-2">Electrical</h3>
                    <a class="btn btn-dark btn-sm" href="#">Shop Now<i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="card categories-card">
                <img class="card-img-top" src="/media/gardening.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h3 class="card-title text-white font-weight-bold px-0 display-2">Gardening</h3>
                    <a class="btn btn-light btn-sm" href="#">Shop Now<i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="card categories-card">
                <img class="card-img-top" src="/media/bathroom.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h3 class="card-title text-black font-weight-bold px-0 display-2">Bathroom</h3>
                    <a class="btn btn-dark btn-sm" href="#">Shop Now<i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="/media/tools.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h3 class="card-title text-white font-weight-bold px-0 display-2">Tools</h3>
                    <a class="btn btn-light btn-sm" href="#">Shop Now<i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}